---
---
@import "minima";


.site-footer { display: none; }
.social-links { display: none !important; }

// Tu elegantne vypneš všetko, čo v Minime nechceš:
.site-footer, .rss-subscribe { display: none; }
.wrapper { max-width: 95%; } // Tu si nastavíš tú šírku, ktorú si chcel